{% trans_default_domain 'BreithbarbotCropperBundle' %}

{% block breithbarbot_cropper_bundle_cropper_type_widget %}

    {% set identifier = (form.children._identifier is defined and form.children._identifier.vars.value is not empty) ? '-'~form.children._identifier.vars.value : '' %}

    {% apply spaceless %}
        <div class="avatar-view" title="{{ 'croppingTool'|trans }}">
            <img class="img-responsive img-thumbnail" src="{% if (form.vars.value is not null) and (form.vars.value.path is defined) %}{{ asset(form.vars.value.path) }}{% else %}/placeholder/{{ form._width.vars.value~'x'~form._height.vars.value }}{% endif %}" alt="Image cropped">
        </div>
        {{ form_widget(form.id) }}

        <script>window.jQuery || document.write('<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha256-3edrmyuQ0w65f8gfBsqowzjJe2iM6n0nKciPUp8y+7E=" crossorigin="anonymous">\x3C/script>')</script>
        <script>
            $(document).ready(function () {
                {% if form.vars.value is null %}
                    {#$('.avatar-view img').attr('src', '/placeholder/{{ form._width.vars.value~'x'~form._height.vars.value }}');#}
                    DummyImage.generate();
                {% endif %}

                // Initializing cropper modal
                $('.avatar-view').on('click', function (e) {
                    // Variable
                    $avatarModal = $('#avatar-modal{{ identifier }}');

                    // Closure
                    $elem = $(this);

                    // Set current image
                    $avatarModal.find('.avatar-wrapper').empty().html('<img src="' + $elem.find('img').attr('src') + '" />');

                    // Set additional data
                    $avatarModal.find('.additional-data').html('');
                    {% for key, item in form.children %}
                        {% if key not in ['_width', '_height'] %}
                            {% for key, item in item.vars.attr %}
                                $avatarModal.find('.additional-data').append('<input type="hidden" name="{{ key }}" value="{{ item }}">');
                            {% endfor %}
                        {% endif %}
                    {% endfor %}

                    // Show / Hide remove button
                    {% if data %}
                        $avatarModal.find('.avatar-remove').show();
                    {% else %}
                        $avatarModal.find('.avatar-remove').hide();
                    {% endif %}

                    // Open the cropper modal
                    $avatarModal.modal('show');
                });
            });
        </script>
    {% endapply %}
{% endblock %}
